In [1]:
library(readr)
library(skimr)
library(here)
library(janitor)
library(dplyr)
library(tidyverse)

Warning message:
"package 'skimr' was built under R version 4.2.3"
Warning message:
"package 'here' was built under R version 4.2.3"
here() starts at E:/Track/R/Google/Clean hotel booking

Warning message:
"package 'janitor' was built under R version 4.2.3"

Attaching package: 'janitor'


The following objects are masked from 'package:stats':

    chisq.test, fisher.test



Attaching package: 'dplyr'


The following objects are masked from 'package:stats':

    filter, lag


The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union


Warning message:
"package 'tidyverse' was built under R version 4.2.3"
── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ forcats   1.0.0     ✔ stringr   1.5.0
✔ ggplot2   3.4.1     ✔ tibble    3.2.0
✔ lubridate 1.9.2     ✔ tidyr     1.3.0
✔ purrr     1.0.1
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

In [2]:
# load data
data = read_csv('hotel_bookings.csv')

Rows: 119390 Columns: 32
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (13): hotel, arrival_date_month, meal, country, market_segment, distrib...
dbl  (18): is_canceled, lead_time, arrival_date_year, arrival_date_week_numb...
date  (1): reservation_status_date

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

In [17]:
#View(data)

In [4]:
str(data)

spc_tbl_ [119,390 × 32] (S3: spec_tbl_df/tbl_df/tbl/data.frame)
 $ hotel                         : chr [1:119390] "Resort Hotel" "Resort Hotel" "Resort Hotel" "Resort Hotel" ...
 $ is_canceled                   : num [1:119390] 0 0 0 0 0 0 0 0 1 1 ...
 $ lead_time                     : num [1:119390] 342 737 7 13 14 14 0 9 85 75 ...
 $ arrival_date_year             : num [1:119390] 2015 2015 2015 2015 2015 ...
 $ arrival_date_month            : chr [1:119390] "July" "July" "July" "July" ...
 $ arrival_date_week_number      : num [1:119390] 27 27 27 27 27 27 27 27 27 27 ...
 $ arrival_date_day_of_month     : num [1:119390] 1 1 1 1 1 1 1 1 1 1 ...
 $ stays_in_weekend_nights       : num [1:119390] 0 0 0 0 0 0 0 0 0 0 ...
 $ stays_in_week_nights          : num [1:119390] 0 0 1 1 2 2 2 2 3 3 ...
 $ adults                        : num [1:119390] 2 2 1 1 2 2 2 2 2 2 ...
 $ children                      : num [1:119390] 0 0 0 0 0 0 0 0 0 0 ...
 $ babies                        : num [1:119390] 0 0 0 0 0 0 0 0 0 0 ...
 $ meal                          : chr [1:119390] "BB" "BB" "BB" "BB" ...
 $ country                       : chr [1:119390] "PRT" "PRT" "GBR" "GBR" ...
 $ market_segment                : chr [1:119390] "Direct" "Direct" "Direct" "Corporate" ...
 $ distribution_channel          : chr [1:119390] "Direct" "Direct" "Direct" "Corporate" ...
 $ is_repeated_guest             : num [1:119390] 0 0 0 0 0 0 0 0 0 0 ...
 $ previous_cancellations        : num [1:119390] 0 0 0 0 0 0 0 0 0 0 ...
 $ previous_bookings_not_canceled: num [1:119390] 0 0 0 0 0 0 0 0 0 0 ...
 $ reserved_room_type            : chr [1:119390] "C" "C" "A" "A" ...
 $ assigned_room_type            : chr [1:119390] "C" "C" "C" "A" ...
 $ booking_changes               : num [1:119390] 3 4 0 0 0 0 0 0 0 0 ...
 $ deposit_type                  : chr [1:119390] "No Deposit" "No Deposit" "No Deposit" "No Deposit" ...
 $ agent                         : chr [1:119390] "NULL" "NULL" "NULL" "304" ...
 $ company                       : chr [1:119390] "NULL" "NULL" "NULL" "NULL" ...
 $ days_in_waiting_list          : num [1:119390] 0 0 0 0 0 0 0 0 0 0 ...
 $ customer_type                 : chr [1:119390] "Transient" "Transient" "Transient" "Transient" ...
 $ adr                           : num [1:119390] 0 0 75 75 98 ...
 $ required_car_parking_spaces   : num [1:119390] 0 0 0 0 0 0 0 0 0 0 ...
 $ total_of_special_requests     : num [1:119390] 0 0 0 0 1 1 0 1 1 0 ...
 $ reservation_status            : chr [1:119390] "Check-Out" "Check-Out" "Check-Out" "Check-Out" ...
 $ reservation_status_date       : Date[1:119390], format: "2015-07-01" "2015-07-01" ...
 - attr(*, "spec")=
  .. cols(
  ..   hotel = col_character(),
  ..   is_canceled = col_double(),
  ..   lead_time = col_double(),
  ..   arrival_date_year = col_double(),
  ..   arrival_date_month = col_character(),
  ..   arrival_date_week_number = col_double(),
  ..   arrival_date_day_of_month = col_double(),
  ..   stays_in_weekend_nights = col_double(),
  ..   stays_in_week_nights = col_double(),
  ..   adults = col_double(),
  ..   children = col_double(),
  ..   babies = col_double(),
  ..   meal = col_character(),
  ..   country = col_character(),
  ..   market_segment = col_character(),
  ..   distribution_channel = col_character(),
  ..   is_repeated_guest = col_double(),
  ..   previous_cancellations = col_double(),
  ..   previous_bookings_not_canceled = col_double(),
  ..   reserved_room_type = col_character(),
  ..   assigned_room_type = col_character(),
  ..   booking_changes = col_double(),
  ..   deposit_type = col_character(),
  ..   agent = col_character(),
  ..   company = col_character(),
  ..   days_in_waiting_list = col_double(),
  ..   customer_type = col_character(),
  ..   adr = col_double(),
  ..   required_car_parking_spaces = col_double(),
  ..   total_of_special_requests = col_double(),
  ..   reservation_status = col_character(),
  ..   reservation_status_date = col_date(format = "")
  .. )
 - attr(*, "problems")=<externalptr>

In [5]:
glimpse(data)

Rows: 119,390
Columns: 32
$ hotel                          <chr> "Resort Hotel", "Resort Hotel", "Resort…
$ is_canceled                    <dbl> 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, …
$ lead_time                      <dbl> 342, 737, 7, 13, 14, 14, 0, 9, 85, 75, …
$ arrival_date_year              <dbl> 2015, 2015, 2015, 2015, 2015, 2015, 201…
$ arrival_date_month             <chr> "July", "July", "July", "July", "July",…
$ arrival_date_week_number       <dbl> 27, 27, 27, 27, 27, 27, 27, 27, 27, 27,…
$ arrival_date_day_of_month      <dbl> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, …
$ stays_in_weekend_nights        <dbl> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, …
$ stays_in_week_nights           <dbl> 0, 0, 1, 1, 2, 2, 2, 2, 3, 3, 4, 4, 4, …
$ adults                         <dbl> 2, 2, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, …
$ children                       <dbl> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, …
$ babies                         <dbl> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, …
$ meal                           <chr> "BB", "BB", "BB", "BB", "BB", "BB", "BB…
$ country                        <chr> "PRT", "PRT", "GBR", "GBR", "GBR", "GBR…
$ market_segment                 <chr> "Direct", "Direct", "Direct", "Corporat…
$ distribution_channel           <chr> "Direct", "Direct", "Direct", "Corporat…
$ is_repeated_guest              <dbl> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, …
$ previous_cancellations         <dbl> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, …
$ previous_bookings_not_canceled <dbl> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, …
$ reserved_room_type             <chr> "C", "C", "A", "A", "A", "A", "C", "C",…
$ assigned_room_type             <chr> "C", "C", "C", "A", "A", "A", "C", "C",…
$ booking_changes                <dbl> 3, 4, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, …
$ deposit_type                   <chr> "No Deposit", "No Deposit", "No Deposit…
$ agent                          <chr> "NULL", "NULL", "NULL", "304", "240", "…
$ company                        <chr> "NULL", "NULL", "NULL", "NULL", "NULL",…
$ days_in_waiting_list           <dbl> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, …
$ customer_type                  <chr> "Transient", "Transient", "Transient", …
$ adr                            <dbl> 0.00, 0.00, 75.00, 75.00, 98.00, 98.00,…
$ required_car_parking_spaces    <dbl> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, …
$ total_of_special_requests      <dbl> 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 3, …
$ reservation_status             <chr> "Check-Out", "Check-Out", "Check-Out", …
$ reservation_status_date        <date> 2015-07-01, 2015-07-01, 2015-07-02, 20…

In [6]:
colnames(data)

 [1] "hotel"                          "is_canceled"
 [3] "lead_time"                      "arrival_date_year"
 [5] "arrival_date_month"             "arrival_date_week_number"
 [7] "arrival_date_day_of_month"      "stays_in_weekend_nights"
 [9] "stays_in_week_nights"           "adults"
[11] "children"                       "babies"
[13] "meal"                           "country"
[15] "market_segment"                 "distribution_channel"
[17] "is_repeated_guest"              "previous_cancellations"
[19] "previous_bookings_not_canceled" "reserved_room_type"
[21] "assigned_room_type"             "booking_changes"
[23] "deposit_type"                   "agent"
[25] "company"                        "days_in_waiting_list"
[27] "customer_type"                  "adr"
[29] "required_car_parking_spaces"    "total_of_special_requests"
[31] "reservation_status"             "reservation_status_date"

In [7]:
skim_without_charts(data)

── Data Summary ────────────────────────
                           Values
Name                       data
Number of rows             119390
Number of columns          32
_______________________
Column type frequency:
  character                13
  Date                     1
  numeric                  18
________________________
Group variables            None

── Variable type: character ────────────────────────────────────────────────────
   skim_variable        n_missing complete_rate min max empty n_unique
 1 hotel                        0             1  10  12     0        2
 2 arrival_date_month           0             1   3   9     0       12
 3 meal                         0             1   2   9     0        5
 4 country                      0             1   2   4     0      178
 5 market_segment               0             1   6  13     0        8
 6 distribution_channel         0             1   3   9     0        5
 7 reserved_room_type           0             1   1   1     0       10
 8 assigned_room_type           0             1   1   1     0       12
 9 deposit_type                 0             1  10  10     0        3
10 agent                        0             1   1   4     0      334
11 company                      0             1   1   4     0      353
12 customer_type                0             1   5  15     0        4
13 reservation_status           0             1   7   9     0        3
   whitespace
 1          0
 2          0
 3          0
 4          0
 5          0
 6          0
 7          0
 8          0
 9          0
10          0
11          0
12          0
13          0

── Variable type: Date ─────────────────────────────────────────────────────────
  skim_variable           n_missing complete_rate min        max
1 reservation_status_date         0             1 2014-10-17 2017-09-14
  median     n_unique
1 2016-08-07      926

── Variable type: numeric ──────────────────────────────────────────────────────
   skim_variable                  n_missing complete_rate       mean       sd
 1 is_canceled                            0          1       0.370     0.483
 2 lead_time                              0          1     104.      107.
 3 arrival_date_year                      0          1    2016.        0.707
 4 arrival_date_week_number               0          1      27.2      13.6
 5 arrival_date_day_of_month              0          1      15.8       8.78
 6 stays_in_weekend_nights                0          1       0.928     0.999
 7 stays_in_week_nights                   0          1       2.50      1.91
 8 adults                                 0          1       1.86      0.579
 9 children                               4          1.00    0.104     0.399
10 babies                                 0          1       0.00795   0.0974
11 is_repeated_guest                      0          1       0.0319    0.176
12 previous_cancellations                 0          1       0.0871    0.844
13 previous_bookings_not_canceled         0          1       0.137     1.50
14 booking_changes                        0          1       0.221     0.652
15 days_in_waiting_list                   0          1       2.32     17.6
16 adr                                    0          1     102.       50.5
17 required_car_parking_spaces            0          1       0.0625    0.245
18 total_of_special_requests              0          1       0.571     0.793
        p0    p25    p50  p75 p100
 1    0       0      0      1    1
 2    0      18     69    160  737
 3 2015    2016   2016   2017 2017
 4    1      16     28     38   53
 5    1       8     16     23   31
 6    0       0      1      2   19
 7    0       1      2      3   50
 8    0       2      2      2   55
 9    0       0      0      0   10
10    0       0      0      0   10
11    0       0      0      0    1
12    0       0      0      0   26
13    0       0      0      0   72
14    0       0      0      0   21
15    0       0      0      0  391
16   -6.38   69.3   94.6  126 5400
17    0       0      0      0    8
18    0       0      0      1    5

Warning message in is.null(text_repr) || nchar(text_repr) == 0L:
"'length(x) = 20 > 1' in coercion to 'logical(1)'"

,skim_type,skim_variable,n_missing,complete_rate,Date.min,Date.max,Date.median,Date.n_unique,character.min,character.max,character.empty,character.n_unique,character.whitespace,numeric.mean,numeric.sd,numeric.p0,numeric.p25,numeric.p50,numeric.p75,numeric.p100
,<chr>,<chr>,<int>,<dbl>,<date>,<date>,<date>,<int>,<int>,<int>,<int>,<int>,<int>,<dbl>,<dbl>,<dbl>,<dbl>,<dbl>,<dbl>,<dbl>
1,Date,reservation_status_date,0,1.0000000,2014-10-17,2017-09-14,2016-08-07,926,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
2,character,hotel,0,1.0000000,NA,NA,NA,NA,10,12,0,2,0,NA,NA,NA,NA,NA,NA,NA
3,character,arrival_date_month,0,1.0000000,NA,NA,NA,NA,3,9,0,12,0,NA,NA,NA,NA,NA,NA,NA
4,character,meal,0,1.0000000,NA,NA,NA,NA,2,9,0,5,0,NA,NA,NA,NA,NA,NA,NA
5,character,country,0,1.0000000,NA,NA,NA,NA,2,4,0,178,0,NA,NA,NA,NA,NA,NA,NA
6,character,market_segment,0,1.0000000,NA,NA,NA,NA,6,13,0,8,0,NA,NA,NA,NA,NA,NA,NA
7,character,distribution_channel,0,1.0000000,NA,NA,NA,NA,3,9,0,5,0,NA,NA,NA,NA,NA,NA,NA
8,character,reserved_room_type,0,1.0000000,NA,NA,NA,NA,1,1,0,10,0,NA,NA,NA,NA,NA,NA,NA
9,character,assigned_room_type,0,1.0000000,NA,NA,NA,NA,1,1,0,12,0,NA,NA,NA,NA,NA,NA,NA
10,character,deposit_type,0,1.0000000,NA,NA,NA,NA,10,10,0,3,0,NA,NA,NA,NA,NA,NA,NA
11,character,agent,0,1.0000000,NA,NA,NA,NA,1,4,0,334,0,NA,NA,NA,NA,NA,NA,NA
12,character,company,0,1.0000000,NA,NA,NA,NA,1,4,0,353,0,NA,NA,NA,NA,NA,NA,NA
13,character,customer_type,0,1.0000000,NA,NA,NA,NA,5,15,0,4,0,NA,NA,NA,NA,NA,NA,NA
14,character,reservation_status,0,1.0000000,NA,NA,NA,NA,7,9,0,3,0,NA,NA,NA,NA,NA,NA,NA
15,numeric,is_canceled,0,1.0000000,NA,NA,NA,NA,NA,NA,NA,NA,NA,3.704163e-01,0.48291823,0.00,0.00,0.000,1,1
16,numeric,lead_time,0,1.0000000,NA,NA,NA,NA,NA,NA,NA,NA,NA,1.040114e+02,106.86309705,0.00,18.00,69.000,160,737
17,numeric,arrival_date_year,0,1.0000000,NA,NA,NA,NA,NA,NA,NA,NA,NA,2.016157e+03,0.70747594,2015.00,2016.00,2016.000,2017,2017
18,numeric,arrival_date_week_number,0,1.0000000,NA,NA,NA,NA,NA,NA,NA,NA,NA,2.716517e+01,13.60513836,1.00,16.00,28.000,38,53
19,numeric,arrival_date_day_of_month,0,1.0000000,NA,NA,NA,NA,NA,NA,NA,NA,NA,1.579824e+01,8.78082947,1.00,8.00,16.000,23,31
20,numeric,stays_in_weekend_nights,0,1.0000000,NA,NA,NA,NA,NA,NA,NA,NA,NA,9.275986e-01,0.99861349,0.00,0.00,1.000,2,19
21,numeric,stays_in_week_nights,0,1.0000000,NA,NA,NA,NA,NA,NA,NA,NA,NA,2.500302e+00,1.90828562,0.00,1.00,2.000,3,50
22,numeric,adults,0,1.0000000,NA,NA,NA,NA,NA,NA,NA,NA,NA,1.856403e+00,0.57926100,0.00,2.00,2.000,2,55
23,numeric,children,4,0.9999665,NA,NA,NA,NA,NA,NA,NA,NA,NA,1.038899e-01,0.39856144,0.00,0.00,0.000,0,10
24,numeric,babies,0,1.0000000,NA,NA,NA,NA,NA,NA,NA,NA,NA,7.948739e-03,0.09743619,0.00,0.00,0.000,0,10
25,numeric,is_repeated_guest,0,1.0000000,NA,NA,NA,NA,NA,NA,NA,NA,NA,3.191222e-02,0.17576715,0.00,0.00,0.000,0,1
26,numeric,previous_cancellations,0,1.0000000,NA,NA,NA,NA,NA,NA,NA,NA,NA,8.711785e-02,0.84433638,0.00,0.00,0.000,0,26
27,numeric,previous_bookings_not_canceled,0,1.0000000,NA,NA,NA,NA,NA,NA,NA,NA,NA,1.370969e-01,1.49743685,0.00,0.00,0.000,0,72
28,numeric,booking_changes,0,1.0000000,NA,NA,NA,NA,NA,NA,NA,NA,NA,2.211240e-01,0.65230557,0.00,0.00,0.000,0,21
29,numeric,days_in_waiting_list,0,1.0000000,NA,NA,NA,NA,NA,NA,NA,NA,NA,2.321149e+00,17.59472088,0.00,0.00,0.000,0,391
30,numeric,adr,0,1.0000000,NA,NA,NA,NA,NA,NA,NA,NA,NA,1.018311e+02,50.53579029,-6.38,69.29,94.575,126,5400
31,numeric,required_car_parking_spaces,0,1.0000000,NA,NA,NA,NA,NA,NA,NA,NA,NA,6.251780e-02,0.24529115,0.00,0.00,0.000,0,8
32,numeric,total_of_special_requests,0,1.0000000,NA,NA,NA,NA,NA,NA,NA,NA,NA,5.713628e-01,0.79279842,0.00,0.00,0.000,1,5

<h1> Clean the data

### Create a new data frame with just those columns, calling it `trimmed_df`.

In [8]:
trimmed_df = data %>% select(hotel, is_canceled, lead_time)

In [9]:
head(trimmed_df)

  hotel        is_canceled lead_time
1 Resort Hotel 0           342
2 Resort Hotel 0           737
3 Resort Hotel 0             7
4 Resort Hotel 0            13
5 Resort Hotel 0            14
6 Resort Hotel 0            14

### Rename the variable 'hotel' to be named 'hotel_type' to be crystal clear on what the data is about:

In [10]:
trimmed_df = data %>% rename(hotel_type = hotel)

### Combination of arrival month and year into one column using the unite() function:

In [18]:
head(data %>% select(arrival_date_year, arrival_date_month) %>% unite(arrival_month_year, c('arrival_date_month', 'arrival_date_year'), sep = ' '))

  arrival_month_year
1 July 2015
2 July 2015
3 July 2015
4 July 2015
5 July 2015
6 July 2015

In [12]:
colnames(data)

 [1] "hotel"                          "is_canceled"
 [3] "lead_time"                      "arrival_date_year"
 [5] "arrival_date_month"             "arrival_date_week_number"
 [7] "arrival_date_day_of_month"      "stays_in_weekend_nights"
 [9] "stays_in_week_nights"           "adults"
[11] "children"                       "babies"
[13] "meal"                           "country"
[15] "market_segment"                 "distribution_channel"
[17] "is_repeated_guest"              "previous_cancellations"
[19] "previous_bookings_not_canceled" "reserved_room_type"
[21] "assigned_room_type"             "booking_changes"
[23] "deposit_type"                   "agent"
[25] "company"                        "days_in_waiting_list"
[27] "customer_type"                  "adr"
[29] "required_car_parking_spaces"    "total_of_special_requests"
[31] "reservation_status"             "reservation_status_date"

### Total gusts in hotel

In [13]:
head(data %>% select('adults', 'children', 'babies'))

  adults children babies
1 2      0        0
2 2      0        0
3 1      0        0
4 1      0        0
5 2      0        0
6 2      0        0

In [14]:
data = data %>% mutate(guests = adults + children + babies)

In [15]:
head(data)

  hotel        is_canceled lead_time arrival_date_year arrival_date_month
1 Resort Hotel 0           342       2015              July
2 Resort Hotel 0           737       2015              July
3 Resort Hotel 0             7       2015              July
4 Resort Hotel 0            13       2015              July
5 Resort Hotel 0            14       2015              July
6 Resort Hotel 0            14       2015              July
  arrival_date_week_number arrival_date_day_of_month stays_in_weekend_nights
1 27                       1                         0
2 27                       1                         0
3 27                       1                         0
4 27                       1                         0
5 27                       1                         0
6 27                       1                         0
  stays_in_week_nights adults ⋯ agent company days_in_waiting_list
1 0                    2      ⋯ NULL  NULL    0
2 0                    2      ⋯ NULL  NULL    0
3 1                    1      ⋯ NULL  NULL    0
4 1                    1      ⋯ 304   NULL    0
5 2                    2      ⋯ 240   NULL    0
6 2                    2      ⋯ 240   NULL    0
  customer_type adr required_car_parking_spaces total_of_special_requests
1 Transient      0  0                           0
2 Transient      0  0                           0
3 Transient     75  0                           0
4 Transient     75  0                           0
5 Transient     98  0                           1
6 Transient     98  0                           1
  reservation_status reservation_status_date guests
1 Check-Out          2015-07-01              2
2 Check-Out          2015-07-01              2
3 Check-Out          2015-07-02              1
4 Check-Out          2015-07-02              1
5 Check-Out          2015-07-03              2
6 Check-Out          2015-07-03              2

### Summary statistics:
####  Calculate the total number of canceled bookings and the average lead time for booking

In [16]:
data %>% summarize(number_canceled = sum(is_canceled), average_Lead_time = mean(lead_time))

  number_canceled average_Lead_time
1 44224           104.0114

### 1. How many columns are in this data set?
### 33 columns after add one columns

In [20]:
str(data)

tibble [119,390 × 33] (S3: tbl_df/tbl/data.frame)
 $ hotel                         : chr [1:119390] "Resort Hotel" "Resort Hotel" "Resort Hotel" "Resort Hotel" ...
 $ is_canceled                   : num [1:119390] 0 0 0 0 0 0 0 0 1 1 ...
 $ lead_time                     : num [1:119390] 342 737 7 13 14 14 0 9 85 75 ...
 $ arrival_date_year             : num [1:119390] 2015 2015 2015 2015 2015 ...
 $ arrival_date_month            : chr [1:119390] "July" "July" "July" "July" ...
 $ arrival_date_week_number      : num [1:119390] 27 27 27 27 27 27 27 27 27 27 ...
 $ arrival_date_day_of_month     : num [1:119390] 1 1 1 1 1 1 1 1 1 1 ...
 $ stays_in_weekend_nights       : num [1:119390] 0 0 0 0 0 0 0 0 0 0 ...
 $ stays_in_week_nights          : num [1:119390] 0 0 1 1 2 2 2 2 3 3 ...
 $ adults                        : num [1:119390] 2 2 1 1 2 2 2 2 2 2 ...
 $ children                      : num [1:119390] 0 0 0 0 0 0 0 0 0 0 ...
 $ babies                        : num [1:119390] 0 0 0 0 0 0 0 0 0 0 ...
 $ meal                          : chr [1:119390] "BB" "BB" "BB" "BB" ...
 $ country                       : chr [1:119390] "PRT" "PRT" "GBR" "GBR" ...
 $ market_segment                : chr [1:119390] "Direct" "Direct" "Direct" "Corporate" ...
 $ distribution_channel          : chr [1:119390] "Direct" "Direct" "Direct" "Corporate" ...
 $ is_repeated_guest             : num [1:119390] 0 0 0 0 0 0 0 0 0 0 ...
 $ previous_cancellations        : num [1:119390] 0 0 0 0 0 0 0 0 0 0 ...
 $ previous_bookings_not_canceled: num [1:119390] 0 0 0 0 0 0 0 0 0 0 ...
 $ reserved_room_type            : chr [1:119390] "C" "C" "A" "A" ...
 $ assigned_room_type            : chr [1:119390] "C" "C" "C" "A" ...
 $ booking_changes               : num [1:119390] 3 4 0 0 0 0 0 0 0 0 ...
 $ deposit_type                  : chr [1:119390] "No Deposit" "No Deposit" "No Deposit" "No Deposit" ...
 $ agent                         : chr [1:119390] "NULL" "NULL" "NULL" "304" ...
 $ company                       : chr [1:119390] "NULL" "NULL" "NULL" "NULL" ...
 $ days_in_waiting_list          : num [1:119390] 0 0 0 0 0 0 0 0 0 0 ...
 $ customer_type                 : chr [1:119390] "Transient" "Transient" "Transient" "Transient" ...
 $ adr                           : num [1:119390] 0 0 75 75 98 ...
 $ required_car_parking_spaces   : num [1:119390] 0 0 0 0 0 0 0 0 0 0 ...
 $ total_of_special_requests     : num [1:119390] 0 0 0 0 1 1 0 1 1 0 ...
 $ reservation_status            : chr [1:119390] "Check-Out" "Check-Out" "Check-Out" "Check-Out" ...
 $ reservation_status_date       : Date[1:119390], format: "2015-07-01" "2015-07-01" ...
 $ guests                        : num [1:119390] 2 2 1 1 2 2 2 2 2 2 ...

### 2. The 'arrival_date_month' variable is chr or character type data. 
### True

In [24]:
colnames(data)

 [1] "hotel"                          "is_canceled"
 [3] "lead_time"                      "arrival_date_year"
 [5] "arrival_date_month"             "arrival_date_week_number"
 [7] "arrival_date_day_of_month"      "stays_in_weekend_nights"
 [9] "stays_in_week_nights"           "adults"
[11] "children"                       "babies"
[13] "meal"                           "country"
[15] "market_segment"                 "distribution_channel"
[17] "is_repeated_guest"              "previous_cancellations"
[19] "previous_bookings_not_canceled" "reserved_room_type"
[21] "assigned_room_type"             "booking_changes"
[23] "deposit_type"                   "agent"
[25] "company"                        "days_in_waiting_list"
[27] "customer_type"                  "adr"
[29] "required_car_parking_spaces"    "total_of_special_requests"
[31] "reservation_status"             "reservation_status_date"
[33] "guests"

In [30]:
head(data %>% arrange(lead_time))

  hotel        is_canceled lead_time arrival_date_year arrival_date_month
1 Resort Hotel 0           0         2015              July
2 Resort Hotel 0           0         2015              July
3 Resort Hotel 0           0         2015              July
4 Resort Hotel 0           0         2015              July
5 Resort Hotel 0           0         2015              July
6 Resort Hotel 0           0         2015              July
  arrival_date_week_number arrival_date_day_of_month stays_in_weekend_nights
1 27                       1                         0
2 27                       1                         0
3 27                       2                         0
4 27                       2                         0
5 27                       2                         0
6 28                       5                         1
  stays_in_week_nights adults ⋯ agent company days_in_waiting_list
1 2                    2      ⋯ NULL  NULL    0
2 1                    2      ⋯ NULL  110     0
3 1                    2      ⋯ NULL  NULL    0
4 1                    2      ⋯ 240   NULL    0
5 1                    2      ⋯ NULL  NULL    0
6 0                    2      ⋯ 306   NULL    0
  customer_type adr    required_car_parking_spaces total_of_special_requests
1 Transient     107.00 0                           0
2 Transient     107.42 0                           0
3 Transient     147.00 0                           0
4 Transient     117.90 0                           2
5 Transient     123.00 0                           0
6 Transient      85.10 0                           0
  reservation_status reservation_status_date guests
1 Check-Out          2015-07-03              2
2 Check-Out          2015-07-02              2
3 Check-Out          2015-07-03              2
4 Check-Out          2015-07-03              2
5 Check-Out          2015-07-03              2
6 Check-Out          2015-07-06              2

### What is the highest lead time for a hotel booking in this data set?
#### 737

In [29]:
head(data %>% arrange(desc(lead_time)))

  hotel        is_canceled lead_time arrival_date_year arrival_date_month
1 Resort Hotel 0           737       2015              July
2 Resort Hotel 0           709       2016              February
3 City Hotel   1           629       2017              March
4 City Hotel   1           629       2017              March
5 City Hotel   1           629       2017              March
6 City Hotel   1           629       2017              March
  arrival_date_week_number arrival_date_day_of_month stays_in_weekend_nights
1 27                        1                        0
2  9                       25                        8
3 13                       30                        0
4 13                       30                        0
5 13                       30                        0
6 13                       30                        0
  stays_in_week_nights adults ⋯ agent company days_in_waiting_list
1  0                   2      ⋯ NULL  NULL    0
2 20                   2      ⋯ NULL  NULL    0
3  1                   1      ⋯ 1     NULL    0
4  1                   1      ⋯ 1     NULL    0
5  2                   2      ⋯ 1     NULL    0
6  2                   2      ⋯ 1     NULL    0
  customer_type adr required_car_parking_spaces total_of_special_requests
1 Transient      0  0                           0
2 Transient     68  0                           0
3 Transient     59  0                           0
4 Transient     59  0                           0
5 Transient     62  0                           0
6 Transient     62  0                           0
  reservation_status reservation_status_date guests
1 Check-Out          2015-07-01              2
2 Check-Out          2016-03-24              2
3 Canceled           2015-10-21              1
4 Canceled           2015-10-21              1
5 Canceled           2015-10-21              2
6 Canceled           2015-10-21              2

### Average of lead_time

In [31]:
mean(data$lead_time)

[1] 104.0114

### what the average lead time before booking is for just city hotels?

In [33]:
head(data %>% filter(hotel == 'City Hotel'))

  hotel      is_canceled lead_time arrival_date_year arrival_date_month
1 City Hotel 0             6       2015              July
2 City Hotel 1            88       2015              July
3 City Hotel 1            65       2015              July
4 City Hotel 1            92       2015              July
5 City Hotel 1           100       2015              July
6 City Hotel 1            79       2015              July
  arrival_date_week_number arrival_date_day_of_month stays_in_weekend_nights
1 27                       1                         0
2 27                       1                         0
3 27                       1                         0
4 27                       1                         2
5 27                       2                         0
6 27                       2                         0
  stays_in_week_nights adults ⋯ agent company days_in_waiting_list
1 2                    1      ⋯ 6     NULL    0
2 4                    2      ⋯ 9     NULL    0
3 4                    1      ⋯ 9     NULL    0
4 4                    2      ⋯ 9     NULL    0
5 2                    2      ⋯ 9     NULL    0
6 3                    2      ⋯ 9     NULL    0
  customer_type adr  required_car_parking_spaces total_of_special_requests
1 Transient      0.0 0                           0
2 Transient     76.5 0                           1
3 Transient     68.0 0                           1
4 Transient     76.5 0                           2
5 Transient     76.5 0                           1
6 Transient     76.5 0                           1
  reservation_status reservation_status_date guests
1 Check-Out          2015-07-03              1
2 Canceled           2015-07-01              2
3 Canceled           2015-04-30              1
4 Canceled           2015-06-23              2
5 Canceled           2015-04-02              2
6 Canceled           2015-06-25              2

In [37]:
data %>% filter(hotel == 'City Hotel') %>% summarize(average_lead_time_before_booking_is_for_just_city_hotels = mean(lead_time))

  average_lead_time_before_booking_is_for_just_city_hotels
1 109.7357

#### Know a lot more information about city hotels, including the maximum and minimum lead time. 
They are also interested in how they are different from resort hotels. You don't want to run each line of code over and over again, so you decide to use the `group_by()`and`summarize()` functions. You can also use the pipe operator to make your code easier to follow. You will store the new data set in a data frame named 'hotel_summary':

In [38]:
data %>% group_by(hotel) %>% summarize(
    average_Lead_time = mean(lead_time),
    max_lead_time = max(lead_time),
    min_lead_time = min(lead_time)
)

  hotel        average_Lead_time max_lead_time min_lead_time
1 City Hotel   109.73572         629           0
2 Resort Hotel  92.67569         737           0